* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    
}

.container {
    background-color: darkcyan;
    text-align: center;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}